name: pages

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  BASE_PATH: cognitive-services-kitchen-sink

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/setup-node@v3
        with:
          node-version: "14"

      - run: |
          npm ci
          npm run build

      - name: Upload result of Application build
        uses: actions/upload-artifact@v2
        with:
          name: static-website
          path: dist
  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: pages
      url: https://${{ github.repository_owner }}.github.io/cognitive-services-kitchen-sink

    if: ${{ github.ref == 'refs/heads/main' }}

    steps:
      - name: Download build of static website
        uses: actions/download-artifact@v2
        with:
          name: static-website
          path: dist
      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v2
        with:
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
